<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zywork.dao.CooperationAccountsDAO">
    <resultMap id="cooperationAccountsMap" type="top.zywork.vo.CooperationAccountsVo">
        <id column="id" property="id"></id>
        <result column="account_type" property="accountType"></result>
        <result column="account_time" property="accountTime"></result>
        <result column="total_pay" property="totalPay"></result>
        <result column="subject_id" property="subjectId"></result>
        <result column="description" property="description"></result>
        <result column="remark" property="remark"></result>
        <result column="is_active" property="isActive"></result>
        <result column="is_cash" property="isCash"></result>
        <result column="cash_status" property="cashStatus"></result>
        <result column="reason" property="reason"></result>
        <result column="hand" property="hand"></result>
        <result column="create_time" property="createTime"></result>
        <result column="cooperation_company_id" property="cooperationCompanyId"></result>
        <association property="companyVo" javaType="top.zywork.vo.CompanyVo">
            <id column="cid" property="id"></id>
            <result column="name" property="name"></result>
        </association>
        <association property="hotelVo" javaType="top.zywork.vo.HotelVo">
            <id column="hid" property="id"></id>
            <result column="title" property="title"></result>
        </association>
        <association property="userVo" javaType="top.zywork.vo.UserVo">
            <id column="uid" property="id"></id>
            <result column="nickname" property="nickname"></result>
        </association>
        <association property="cooperationSubjectVo" javaType="top.zywork.vo.CooperationSubjectVo">
            <id column="csid" property="id"></id>
            <result column="ctitle" property="title"></result>
        </association>
        <association property="cooperationCompanyVo" javaType="top.zywork.vo.CooperationCompanyVo">
            <id column="ccid" property="id"></id>
            <result column="ccname" property="name"></result>
        </association>
    </resultMap>
    <resultMap id="select2VoMap" type="select2Vo"></resultMap>
    <sql id="search">
        <if test="#{searchVal!=null} and #{searchVal!=''}">
            and (t.account_type like concat('%${searchVal}%')
            or t.account_time like concat ('%${searchVal}%')
            or t.total_pay like concat ('%${searchVal}%')
            or t.subject_id like concat ('%${searchVal}%')
            or t.description like concat ('%${searchVal}%')
            or t.remark like concat ('%${searchVal}%')
            or t.is_active like concat ('%${searchVal}%')
            or t.is_cash like concat ('%${searchVal}%')
            or t.cash_status like concat ('%${searchVal}%')
            or t.reason like concat ('%${searchVal}%')
            )
        </if>
    </sql>
    <select id="getSubject" resultMap="select2VoMap" parameterType="long">
        select id,title as text from t_cooperation_subject where company_id=#{companyId}
    </select>
    <select id="getCooperationCompany" resultMap="select2VoMap">
        select id,name as text from t_cooperation_company where company_id=#{companyId} and hotel_id=#{hotelId}
    </select>
    <select id="getById" resultMap="cooperationAccountsMap" parameterType="long">
        select * from t_cooperation_accounts where id = #{id}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_cooperation_accounts where id = #{id}
    </delete>
    <select id="listPage" resultMap="cooperationAccountsMap">
        select t.*,(select nickname from t_user where t.hander=t_user.id) as hand,u.nickname,h.title,c.name,s.title as ctitle,cc.name as ccname  from t_cooperation_accounts t,t_company c,t_hotel h,t_user u,t_cooperation_subject s,t_cooperation_company cc where t.hotel_id=h.id and t.company_id=c.id and t.shop_manager_id=u.id and t.subject_id=s.id and t.cooperation_company_id=cc.id and t.company_id=#{companyId} and t.hotel_id=#{hotelId} <include refid="search"/> order by create_time desc limit #{pageNo},#{pageSize}
    </select>
    <select id="listAll" resultMap="cooperationAccountsMap">
        select * from t_cooperation_accounts where company_id=#{companyId} and hotel_id=#{hotelId}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*) from  t_cooperation_accounts t,t_company c,t_hotel h,t_user u,t_cooperation_subject s,t_cooperation_company cc where t.hotel_id=h.id and t.company_id=c.id and t.cooperation_company_id=cc.id and t.shop_manager_id=u.id and t.subject_id=s.id and t.company_id=#{companyId} and t.hotel_id=#{hotelId} <include refid="search"/>
    </select>
    <insert id="save" parameterType="cooperationAccountsVo">
        insert into t_cooperation_accounts  ( company_id, hotel_id, shop_manager_id, account_type, account_time, total_pay, subject_id, description, remark,cooperation_company_id, is_active, is_cash, cash_status, reason) values ( #{companyId}, #{hotelId}, #{shopManagerId}, #{accountType}, #{accountTime}, #{totalPay}, #{subjectId}, #{description}, #{remark},#{cooperationCompanyId}, #{isActive}, #{isCash}, #{cashStatus}, #{reason})
    </insert>
    <update id="updateStatus">
        update t_cooperation_accounts set is_active=#{status} where id=#{id}
    </update>
    <update id="updateRemark">
        update t_cooperation_accounts set remark=#{remark} where id=#{id}
    </update>
    <update id="updateCashStatus" parameterType="cooperationAccountsVo">
        update t_cooperation_accounts set is_cash=#{isCash},cash_status=#{cashStatus},reason=#{reason},hander=#{hander} where id=#{id}
    </update>
    <update id="update" parameterType="cooperationAccountsVo">
        update t_cooperation_accounts set account_type=#{accountType},total_pay=#{totalPay},subject_id=#{subjectId},description=#{description},cooperation_company_id=#{cooperationCompanyId} where id = #{id}
    </update>
    <update id="checkerManyCooperationAccount" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" separator=";" >
            update t_cooperation_accounts set is_cash=#{item.isCash},cash_status=#{item.cashStatus},reason=#{item.reason},hander=#{item.hander} where id=#{item.id}
        </foreach>
    </update>
</mapper>