<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zywork.dao.HotelDAO">
    <resultMap id="hotelMap" type="hotelVo">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="tel" property="tel"></result>
        <result column="create_time" property="createTime"></result>
        <result column="is_active" property="isActive"></result>
        <association property="companyVo" javaType="companyVo">
            <id column="companyId" property="id"></id>
            <result column="companyTitle" property="title"></result>
        </association>
        <association property="contractVo" javaType="contractVo">
            <id column="contractId" property="id"></id>
        </association>
        <association property="userVo" javaType="userVo">
            <id column="userId" property="id"></id>
            <result column="nickname" property="nickname"></result>
        </association>
    </resultMap>
    <resultMap id="select2Map" type="select2Vo"></resultMap>
    <resultMap id="hotelVoMap" type="hotelVo"></resultMap>
    <sql id="search">
        <if test="#{pageQuery.searchVal!=null} and #{pageQuery.searchVal!=''}">
            and (h.title like concat('%${pageQuery.searchVal}%')
            or h.tel like concat ('%${pageQuery.searchVal}%')
            or h.create_time like concat ('%${pageQuery.searchVal}%')
            or h.is_active like concat ('%${pageQuery.searchVal}%'))
        </if>
    </sql>
    <select id="getById" resultMap="hotelMap" parameterType="long">
        select h.*,u.id as userId,c.id as companyId,t.id as contractId,u.nickname from t_hotel h,t_user u,t_company c,t_contract t where h.hotel_manager_id=u.id and h.contract_id=t.id and c.id=h.company_id and h.id = #{id}
    </select>
    <select id="findHotel" resultMap="hotelVoMap" parameterType="long">
        select * from t_hotel where hotel_manager_id=#{hotelManagerId}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_hotel where id = #{id}
    </delete>
    <select id="listPages" resultMap="hotelMap">
        select h.*,u.id as userId,c.id as companyId,t.id as contractId,u.nickname from t_hotel h,t_user u,t_company c,t_contract t where h.hotel_manager_id=u.id and h.contract_id=t.id and c.id=h.company_id and h.company_id=#{companyId} <include refid="search"></include> limit #{pageQuery.pageNo},#{pageQuery.pageSize}
    </select>
    <select id="getContract" resultMap="select2Map">
        select id,contract_contract as text from t_contract
    </select>
    <select id="getLandlord" resultMap="select2Map">
        select u.id as id,u.nickname as text from t_user u,t_role r,t_user_rle ur where r.id=ur.role_id and ur.user_id=u.id and r.title="店长"
    </select>
    <select id="listAll" resultMap="hotelMap">
        select * from t_hotel
    </select>
    <select id="counts" resultType="java.lang.Long">
        select count(*) from t_hotel h where h.company_id=#{companyId} <include refid="search"/>
    </select>
    <insert id="save" parameterType="hotelVo">
        insert into t_hotel ( company_id,contract_id,hotel_manager_id,title,tel,is_active) values ( #{companyId},#{contractId},#{hotelManagerId},#{title},#{tel},#{isActive})
    </insert>
    <update id="updateStatus">
        update t_hotel set is_active=#{status} where id=#{id}
    </update>
    <update id="update">
        update t_hotel set contract_id=#{contractId},hotel_manager_id=#{hotelManagerId},title=#{title},tel=#{tel} where id = #{id}
    </update>
</mapper>