<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.cflwork.dao.OutcomeDAO">
    <resultMap id="OutcomeMap" type="top.cflwork.vo.OutcomeVo"></resultMap>
    <sql id="search">
        <if test="#{searchVal!=null} and #{searchVal!=''}">
            and (id like concat('%${searchVal}%'))
        </if>
    </sql>
    <select id="getById" resultMap="OutcomeMap" parameterType="long">
        select `id`,`company_id`,`hotel_id`,`subject_id`,`outcomme_name`,`remark`,`start_time`,`end_time`,`money`,`day_money`,`outcome_status`,`is_active`,`create_time`        from t_outcome where id = #{value}
    </select>
    <select id="listPage" resultMap="OutcomeMap">
        select `id`,`company_id`,`hotel_id`,`subject_id`,`outcomme_name`,`remark`,`start_time`,`end_time`,`money`,`day_money`,`outcome_status`,`is_active`,`create_time`        from t_outcome where company_id = #{companyId}
        <include refid="search"></include>  order by create_time desc limit #{pageNo}, #{pageSize}
    </select>
    <select id="listPages" resultMap="OutcomeMap">
        select `id`,`company_id`,`hotel_id`,`subject_id`,`outcomme_name`,`remark`,`start_time`,`end_time`,`money`,`day_money`,`outcome_status`,`is_active`,`create_time`        from t_outcome
        <where>
                            <if test="id != null and id != ''">
                    and id = #{id}
                </if>
                            <if test="companyId != null and companyId != ''">
                    and company_id = #{companyId}
                </if>
                            <if test="hotelId != null and hotelId != ''">
                    and hotel_id = #{hotelId}
                </if>
                            <if test="subjectId != null and subjectId != ''">
                    and subject_id = #{subjectId}
                </if>
                            <if test="outcommeName != null and outcommeName != ''">
                    and outcomme_name = #{outcommeName}
                </if>
                            <if test="remark != null and remark != ''">
                    and remark = #{remark}
                </if>
                            <if test="startTime != null and startTime != ''">
                    and start_time = #{startTime}
                </if>
                            <if test="endTime != null and endTime != ''">
                    and end_time = #{endTime}
                </if>
                            <if test="money != null and money != ''">
                    and money = #{money}
                </if>
                            <if test="dayMoney != null and dayMoney != ''">
                    and day_money = #{dayMoney}
                </if>
                            <if test="outcomeStatus != null and outcomeStatus != ''">
                    and outcome_status = #{outcomeStatus}
                </if>
                            <if test="isActive != null and isActive != ''">
                    and is_active = #{isActive}
                </if>
                            <if test="createTime != null and createTime != ''">
                    and create_time = #{createTime}
                </if>
                    </where>
        <include refid="search"></include>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="pageNo != null and pageSize != null">
            limit #{pageNo}, #{pageSize}
        </if>
    </select>
    <select id="listAll" resultMap="OutcomeMap">
        select * from t_outcome where company_id=#{companyId}
    </select>
    <select id="count" resultType="long">
        select count(*) from t_outcome where company_id = #{companyId} <include refid="search"></include> order by create_time desc
    </select>
    <select id="counts" resultType="long">
        select count(*) from t_outcome
        <where>
                            <if test="outcomeVo.id != null and outcomeVo.id != ''">
                    and id = #{outcomeVo.id}
                </if>
                            <if test="outcomeVo.companyId != null and outcomeVo.companyId != ''">
                    and company_id = #{outcomeVo.companyId}
                </if>
                            <if test="outcomeVo.hotelId != null and outcomeVo.hotelId != ''">
                    and hotel_id = #{outcomeVo.hotelId}
                </if>
                            <if test="outcomeVo.subjectId != null and outcomeVo.subjectId != ''">
                    and subject_id = #{outcomeVo.subjectId}
                </if>
                            <if test="outcomeVo.outcommeName != null and outcomeVo.outcommeName != ''">
                    and outcomme_name = #{outcomeVo.outcommeName}
                </if>
                            <if test="outcomeVo.remark != null and outcomeVo.remark != ''">
                    and remark = #{outcomeVo.remark}
                </if>
                            <if test="outcomeVo.startTime != null and outcomeVo.startTime != ''">
                    and start_time = #{outcomeVo.startTime}
                </if>
                            <if test="outcomeVo.endTime != null and outcomeVo.endTime != ''">
                    and end_time = #{outcomeVo.endTime}
                </if>
                            <if test="outcomeVo.money != null and outcomeVo.money != ''">
                    and money = #{outcomeVo.money}
                </if>
                            <if test="outcomeVo.dayMoney != null and outcomeVo.dayMoney != ''">
                    and day_money = #{outcomeVo.dayMoney}
                </if>
                            <if test="outcomeVo.outcomeStatus != null and outcomeVo.outcomeStatus != ''">
                    and outcome_status = #{outcomeVo.outcomeStatus}
                </if>
                            <if test="outcomeVo.isActive != null and outcomeVo.isActive != ''">
                    and is_active = #{isActive}
                </if>
                            <if test="outcomeVo.createTime != null and outcomeVo.createTime != ''">
                    and create_time = #{outcomeVo.createTime}
                </if>
                    </where>
        <include refid="search"></include>
        <choose>
            <when test="outcomeVo.sort != null and outcomeVo.sort.trim() != ''">
                order by ${outcomeVo.sort} ${outcomeVo.order}
            </when>
            <otherwise>
                order by outcomeVo.id desc
            </otherwise>
        </choose>
    </select>

    <insert id="save" parameterType="top.cflwork.vo.OutcomeVo" useGeneratedKeys="true" keyProperty="id">
        insert into t_outcome (
                                                                            `company_id`,                                                                 `hotel_id`,                                                                 `subject_id`,                                                                 `outcomme_name`,                                                                 `remark`,                                                                 `start_time`,                                                                 `end_time`,                                                                 `money`,                                                                 `day_money`,                                                                 `outcome_status`,                                                                 `is_active`,                                                                 `create_time`                                  ) values (
                                                                            #{companyId}, 
                                                                #{hotelId}, 
                                                                #{subjectId}, 
                                                                #{outcommeName}, 
                                                                #{remark}, 
                                                                #{startTime}, 
                                                                #{endTime}, 
                                                                #{money}, 
                                                                #{dayMoney}, 
                                                                #{outcomeStatus}, 
                                                                #{isActive}, 
                                                                #{createTime}
                                    )
    </insert>

    <update id="update" parameterType="top.cflwork.vo.OutcomeVo">
        update t_outcome
        <set>
                                                                            <if test="companyId != null">`company_id` = #{companyId
                    }, </if>
                                                                <if test="hotelId != null">`hotel_id` = #{hotelId
                    }, </if>
                                                                <if test="subjectId != null">`subject_id` = #{subjectId
                    }, </if>
                                                                <if test="outcommeName != null">`outcomme_name` = #{outcommeName
                    }, </if>
                                                                <if test="remark != null">`remark` = #{remark
                    }, </if>
                                                                <if test="startTime != null">`start_time` = #{startTime
                    }, </if>
                                                                <if test="endTime != null">`end_time` = #{endTime
                    }, </if>
                                                                <if test="money != null">`money` = #{money
                    }, </if>
                                                                <if test="dayMoney != null">`day_money` = #{dayMoney
                    }, </if>
                                                                <if test="outcomeStatus != null">`outcome_status` = #{outcomeStatus
                    }, </if>
                                                                <if test="isActive != null">`is_active` = #{isActive
                    }, </if>
                                                                <if test="createTime != null">`create_time` = #{createTime
                    }</if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateStatus">
        update t_outcome set is_active=#{status} where id=#{id}
    </update>
    <delete id="removeById" parameterType="long">
        delete from t_outcome where id = #{value}
    </delete>
    <delete id="removeMany">
        delete from t_outcome where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>