<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zywork.dao.PaymentTypeDAO">
  <resultMap id="paymentTypeMap" type="paymentTypeVo"></resultMap>
  <sql id="Base_Column_List">id, title,description,create_time,is_active</sql>
  <select id="getById" resultMap="paymentTypeMap" parameterType="long">
      select
      <include refid="Base_Column_List"/>
      from t_payment_type where id = #{id}
  </select>
  <delete id="removeById" parameterType="long">
        delete from t_payment_type where id = #{id}
  </delete>
  <select id="listPage" resultMap="paymentTypeMap">
        select * from t_payment_type limit #{pageNo},#{pageSize}
  </select>
    <select id="listAll" resultMap="paymentTypeMap">
        select * from t_payment_type
    </select>
    <select id="count" resultType="long">
        select count(*) from t_payment_type
    </select>
  <select id=""></select>
  <insert id="save" parameterType="paymentTypeVo">
        insert into t_payment_type ( title,description,is_active) values ( #{title},#{description},#{isActive})
  </insert>
    <update id="updateStatus">
        update t_payment_type set is_active=#{status} where id=#{id}
    </update>
  <update id="update">
        update t_payment_type
        <set>
            <if test="title!=null and title!=''">
                title = #{title},
            </if>
            <if test="description!=null and description!=''">
                description = #{description},
            </if>
        </set>
        where id = #{id}
  </update>
</mapper>